<!--{{vm.tests || json }}-->
<!--<div>-->
    <!--<h2 data-translate="smartTestUiApp.tests.home.title">Plan Pruebas</h2>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th><span data-translate="global.field.id">ID</span></th>-->
                <!--<th><span data-translate="smartTestUiApp.tests.nombre">Nombre</span></th>-->
                <!--<th><span data-translate="smartTestUiApp.tests.prueba">Prueba</span></th>-->
                <!--<th><span data-translate="smartTestUiApp.tests.estado">Estado</span></th>-->

            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="planPrueba in vm.planPruebas track by planPrueba.id">-->
                <!--<td><a ui-sref="plan-prueba-detail({id:planPrueba.id})">{{planPrueba.id}}</a></td>-->
                <!--<td>{{planPrueba.nombre}}</td>-->
                <!--<td>-->
                        <!--<span ng-repeat="prueba in planPrueba.pruebas">-->
                            <!--<a class="form-control-static" ui-sref="prueba-detail({id: prueba.id})">{{prueba.id}}</a>{{$last ? '' : ', '}}-->
                        <!--</span>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="plan-prueba-detail({id:planPrueba.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<h2 data-translate="smartTestUiApp.tests.home.title2">Plan Pruebas</h2>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th><span data-translate="global.field.id">ID</span></th>-->
                <!--<th><span data-translate="smartTestUiApp.tests.nombre">Nombre</span></th>-->
                <!--<th><span data-translate="smartTestUiApp.tests.prueba">Prueba</span></th>-->
                <!--<th><span data-translate="smartTestUiApp.tests.estado">Estado actual de la ejecución</span></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="planPrueba in vm.planPruebas track by planPrueba.id">-->
                <!--<td><a ui-sref="plan-prueba-detail({id:planPrueba.id})">{{planPrueba.id}}</a></td>-->
                <!--<td>{{planPrueba.nombre}}</td>-->
                <!--<td>-->
                        <!--<span ng-repeat="prueba in planPrueba.pruebas">-->
                            <!--<a class="form-control-static" ui-sref="prueba-detail({id: prueba.id})">{{prueba.id}}</a>{{$last ? '' : ', '}}-->
                        <!--</span>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="plan-prueba-detail({id:planPrueba.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->



<!--</div>-->
<div>
    <h2 data-translate="smartTestUiApp.tests.home.title">Ejecucion Pruebas</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="global.field.id">ID</span></th>
                <th><span data-translate="smartTestUiApp.tests.fecha">Fecha</span></th>
                <th><span data-translate="smartTestUiApp.tests.estado">Estado</span></th>
                <th><span data-translate="smartTestUiApp.tests.usuario">Usuario</span></th>
                <th><span data-translate="smartTestUiApp.tests.prueba">Prueba</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ejecucionPrueba in vm.pruebasPendientes track by $index">
                <td><a ui-sref="ejecucion-prueba-detail({id:ejecucionPrueba.id})">{{ejecucionPrueba.id}}</a></td>
                <td>{{ejecucionPrueba.fecha | date:'mediumDate'}}</td>
                <td>{{ejecucionPrueba.estado}}</td>
                <td>{{ejecucionPrueba.jhUserName}}</td>
                <td>
                    <a ui-sref="prueba-detail({id:ejecucionPrueba.pruebaId})">{{ejecucionPrueba.pruebaId}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="ejecucion-prueba-detail({id:ejecucionPrueba.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-8">
            <h2 data-translate="smartTestUiApp.tests.home.title2">Ejecucion Pruebas </h2>
        </div>
        <jhi-alert></jhi-alert>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-filter"></span>
            Filtrar:
            <input type="text" ng-model="filtrar" class="form-control">
        </div>
    </div>
</br>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="global.field.id">ID</span></th>
                <th><span data-translate="smartTestUiApp.tests.fecha">Fecha</span></th>
                <th><span data-translate="smartTestUiApp.tests.estado">Estado</span></th>
                <th><span data-translate="smartTestUiApp.tests.tiempo">Tiempo de respuesta</span></th>
                <th><span data-translate="smartTestUiApp.tests.usuario">User</span></th>
                <th><span data-translate="smartTestUiApp.tests.prueba">Prueba</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ejecucionPrueba in vm.pruebasCompletadas | filter: filtrar track by $index">

                <td><a ui-sref="ejecucion-prueba-detail({id:ejecucionPrueba.id})">{{ejecucionPrueba.id}}</a></td>
                <td>{{ejecucionPrueba.fecha | date:'mediumDate'}}</td>
                <td ng-show="ejecucionPrueba.estado === 'Pass'">
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;Pass
                </td>
                <td ng-show="ejecucionPrueba.estado === 'Fail'">
                    <span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;Fail
                </td>
                <td>{{ejecucionPrueba.tiempoRespuesta + ' ms'}}</td>
                <td>{{ejecucionPrueba.jhUserName}}</td>
                <td>
                    <a ui-sref="prueba-detail({id:ejecucionPrueba.pruebaId})">{{ejecucionPrueba.pruebaId}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="ejecucion-prueba-detail({id:ejecucionPrueba.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

