
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEjecucionPruebaLabel" data-translate="smartTestUiApp.ejecucionPrueba.home.createOrEditLabel">Create or edit a Ejecucion Prueba</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ejecucionPrueba.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ejecucionPrueba.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.ejecucionPrueba.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" uib-datepicker-popup="{{dateformat}}" ng-model="vm.ejecucionPrueba.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.ejecucionPrueba.tiempoRespuesta" for="field_tiempoRespuesta">Tiempo Respuesta</label>
            <input type="number" class="form-control" name="tiempoRespuesta" id="field_tiempoRespuesta"
                    ng-model="vm.ejecucionPrueba.tiempoRespuesta"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.ejecucionPrueba.resultado" for="field_resultado">Resultado</label>
            <input type="text" class="form-control" name="resultado" id="field_resultado"
                    ng-model="vm.ejecucionPrueba.resultado"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.ejecucionPrueba.jhUserId" for="field_jhUserId">Jh User Id</label>
            <input type="number" class="form-control" name="jhUserId" id="field_jhUserId"
                    ng-model="vm.ejecucionPrueba.jhUserId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.ejecucionPrueba.body" for="field_body">Body</label>
            <input type="text" class="form-control" name="body" id="field_body"
                    ng-model="vm.ejecucionPrueba.body"
                     />
        </div>

        <div class="form-group">
            <label data-translate="smartTestUiApp.ejecucionPrueba.prueba" for="field_prueba">Prueba</label>
            <select class="form-control" id="field_prueba" name="prueba" ng-model="vm.ejecucionPrueba.pruebaId" ng-options="prueba.id as prueba.id for prueba in vm.pruebas"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
