<div>
    <h2 data-translate="smartTestUiApp.ambiente.home.title">Ambientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ambiente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartTestUiApp.ambiente.home.createLabel">
                        Create new Ambiente
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartTestUiApp.ambiente.nombre">Nombre</span></th>
                    <th><span data-translate="smartTestUiApp.ambiente.descripcion">Descripcion</span></th>
                    <th><span data-translate="smartTestUiApp.ambiente.activo">Activo</span></th>
                    <th><span data-translate="smartTestUiApp.ambiente.modulo">Modulo</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ambiente in vm.ambientes track by ambiente.id">
                    <td><a ui-sref="ambiente-detail({id:ambiente.id})">{{ambiente.id}}</a></td>
                    <td>{{ambiente.nombre}}</td>
                    <td>{{ambiente.descripcion}}</td>
                    <td>{{ambiente.activo}}</td>
                    <td>
                        <span ng-repeat="modulo in ambiente.modulos">
                            <a class="form-control-static" ui-sref="modulo-detail({id: modulo.id})">{{modulo.nombre}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ambiente-detail({id:ambiente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ambiente.edit({id:ambiente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ambiente.delete({id:ambiente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
