<ul class="dropdown-menu aside-navbar">
    <li ui-sref-active="active">
        <a ui-sref="ambiente">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.ambiente">Ambiente</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="modulo"
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.modulo">Modulo</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="servicio">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.servicio">Servicio</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="metodo">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.metodo">Metodo</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="parametro">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.parametro">Parametro</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="tipo-parametro">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.tipoParametro">Tipo Parametro</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="prueba">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.prueba">Prueba</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="plan-prueba">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.planPrueba">Plan Prueba</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="ejecucion-prueba">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.ejecucionPrueba">Ejecucion Prueba</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="bitacora">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.bitacora">Bitacora</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="tipo-evento">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.tipoEvento">Tipo Evento</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="alerta">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.alerta">Alerta</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="tipo-alerta">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.tipoAlerta">Tipo Alerta</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="seguridad">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.seguridad">Seguridad</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="header">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.header">Header</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="tipo-header">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.tipoHeader">Tipo Header</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="service-provider">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <span data-translate="global.menu.entities.serviceProvider">Service Provider</span>
        </a>
    </li>
</ul>
