<ul class="dropdown-menu aside-navbar">
    <li ui-sref-active="active">
        <a ui-sref="ambiente">
            <i class="fa fa-fw fa-globe"></i>
            <span data-translate="global.menu.entities.ambiente">Ambiente</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="modulo">
            <i class="fa fa-fw fa-puzzle-piece"></i>
            <span data-translate="global.menu.entities.modulo">Modulo</span>
        </a>
    </li>
    <li ui-sref-active="active" class="has-submenu">
        <a ui-sref="servicio">
            <i class="fa fa-fw fa-handshake-o"></i>
            <span data-translate="global.menu.entities.servicio">Servicio</span>
            <i class="fa fa-caret-right"></i>
        </a>
        <ul class="submenu dropdown-menu">
            <li ui-sref-active="active">
                <a ui-sref="service-provider">
                    <span data-translate="global.menu.entities.serviceProvider">Service Provider</span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active" class="has-submenu">
        <a ui-sref="metodo">
            <i class="fa fa-fw fa-code"></i>
            <span data-translate="global.menu.entities.metodo">Metodo</span>
            <i class="fa fa-caret-right"></i>
        </a>
        <ul class="submenu dropdown-menu">
            <li ui-sref-active="active">
                <a ui-sref="parametro">
                    <span data-translate="global.menu.entities.parametro">Parametro</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="tipo-parametro">
                    <span data-translate="global.menu.entities.tipoParametro">Tipo Parametro</span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active" class="has-submenu">
        <a ui-sref="prueba">
            <i class="fa fa-fw fa-check-square-o"></i>
            <span data-translate="global.menu.entities.prueba">Prueba</span>
            <i class="fa fa-caret-right"></i>
        </a>
        <ul class="submenu dropdown-menu">
            <li ui-sref-active="active">
                <a ui-sref="plan-prueba">
                    <span data-translate="global.menu.entities.planPrueba">Plan Prueba</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="ejecucion-prueba">
                    <span data-translate="global.menu.entities.ejecucionPrueba">Ejecucion Prueba</span>
                </a>
            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="header">
                    <span data-translate="global.menu.entities.header">Header</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="tipo-header">
                    <span data-translate="global.menu.entities.tipoHeader">Tipo Header</span>
                </a>
            </li>-->
        </ul>
    </li>
    <li ui-sref-active="active" class="has-submenu">
        <a ui-sref="bitacora">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            <span data-translate="global.menu.entities.bitacora">Bitacora</span>
            <i class="fa fa-caret-right"></i>
        </a>
        <ul class="submenu dropdown-menu">
            <li ui-sref-active="active">
                <a ui-sref="tipo-evento">
                    <span data-translate="global.menu.entities.tipoEvento">Tipo Evento</span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active" class="has-submenu">
        <a ui-sref="alerta">
            <i class="fa fa-fw fa-info-circle"></i>
            <span data-translate="global.menu.entities.alerta">Alerta</span>
            <i class="fa fa-caret-right"></i>
        </a>
        <ul class="submenu dropdown-menu">
            <li ui-sref-active="active">
                <a ui-sref="tipo-alerta">
                    <span data-translate="global.menu.entities.tipoAlerta">Tipo Alerta</span>
                </a>
            </li>
        </ul>
    </li>
    <!--li ui-sref-active="active">
        <a ui-sref="seguridad">
            <i class="fa fa-fw fa-shield"></i>
            <span data-translate="global.menu.entities.seguridad">Seguridad</span>
        </a>
    </li-->
</ul>
