<div>
    <h2 data-translate="smartTestUiApp.metodo.home.title">Metodos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="metodo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartTestUiApp.metodo.home.createLabel">
                        Create new Metodo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartTestUiApp.metodo.nombre">Nombre</span></th>
                    <th><span data-translate="smartTestUiApp.metodo.url">Url</span></th>
                    <th><span data-translate="smartTestUiApp.metodo.activo">Activo</span></th>
                    <th><span data-translate="smartTestUiApp.metodo.servicio">Servicio</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="metodo in vm.metodos track by metodo.id">
                    <td><a ui-sref="metodo-detail({id:metodo.id})">{{metodo.id}}</a></td>
                    <td>{{metodo.nombre}}</td>
                    <td>{{metodo.url}}</td>
                    <td>{{metodo.activo}}</td>
                    <td>
                        <span ng-repeat="servicio in metodo.servicios">
                            <a class="form-control-static" ui-sref="servicio-detail({id: servicio.id})">{{servicio.nombre}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="metodo-detail({id:metodo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="metodo.edit({id:metodo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="metodo.delete({id:metodo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
