
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHeaderLabel" data-translate="smartTestUiApp.header.home.createOrEditLabel">Create or edit a Header</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.header.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.header.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.header.serviceGroupId" for="field_serviceGroupId">Service Group Id</label>
            <input type="number" class="form-control" name="serviceGroupId" id="field_serviceGroupId"
                    ng-model="vm.header.serviceGroupId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.header.token" for="field_token">Token</label>
            <input type="text" class="form-control" name="token" id="field_token"
                    ng-model="vm.header.token"
                    required />
            <div ng-show="editForm.token.$invalid">
                <p class="help-block"
                    ng-show="editForm.token.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartTestUiApp.header.activo" for="field_activo">Activo</label>
            <input type="checkbox" class="form-control" name="activo" id="field_activo"
                    ng-model="vm.header.activo"
                     />
        </div>

        <div class="form-group">
            <label data-translate="smartTestUiApp.header.tipoHeader" for="field_tipoHeader">Tipo Header</label>
            <select class="form-control" id="field_tipoHeader" name="tipoHeader" ng-model="vm.header.tipoHeaderId" ng-options="tipoHeader.id as tipoHeader.nombre for tipoHeader in vm.tipoheaders"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="smartTestUiApp.header.serviceProvider" for="field_serviceProvider">Service Provider</label>
            <select class="form-control" id="field_serviceProvider" name="serviceProvider" ng-model="vm.header.serviceProviderId" ng-options="serviceProvider.id as serviceProvider.nombre for serviceProvider in vm.serviceproviders"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
